.container{
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    row-gap: 4rem;
}
.info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}
.info img{
    width: 15rem;
    height: 12rem;
    border-radius: 100%;
}
.info > div{
    display: flex;
    flex-direction: column;
}
.products{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.products > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem 1rem
}